* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    height: 100vh;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
  }
  .container {
    width: 40%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: $bg;
    border-radius: 30px;
    padding: 20px 50px;
    h2 {
      font-weight: 100;
      font-size: 30px;
    }
  }